@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$outline-color: $primary-color; //scale-color($primary-color, $lightness: -66%);

.content-type-in-list {
  @extend .columns;
  @extend .large-12;
  @extend .medium-12;
  @extend .small-12;
  border: 1px solid $outline-color;
  background-color: scale-color($outline-color, $lightness: 66%);

  > h3, h4 {
    margin-bottom: 0.2rem;
  }
}

.html-preview {
  border: 1px solid $outline-color;
}

.file-list {
  @extend .row;
}

.thing-in-list {
  @extend .columns;
  @extend .large-12;
  @extend .medium-12;
  @extend .small-12;
  border: 1px solid $outline-color;
  background-color: scale-color($outline-color, $lightness: 66%);

  > h3, h4 {
    margin-bottom: 0.2rem;
  }
}

.action-button {
   @extend .button;
   @extend .tiny;
   margin-bottom: 0;
};

.image-select {
  @extend .columns;
  @extend .large-4;
  @extend .medium-6;
  @extend .small-12;
  border: 1px solid $outline-color;
  padding: 0.2em;
};

.image-select-title-holder {
  height: 1.1em;
  margin: 0.2em;
};
.image-select-title {
  position: relative;
  background-color: rgba(255,255,255,0.5);
  // Note: modal dialogs at 99
  z-index: 5;
};
.image-select-icon {
  // see http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio
  display: inline-block;
  position: relative;
  width: 90%;
  // center?
  left: 5%;
  //height: 
  overflow: hidden;
  > .dummy {
    padding-top: 100%; //1:1 aspect
  };
  > .image-select-image {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
  } 
};

.drop-zone {
  border: 1px dashed $outline-color;
  text-align: center;
  color: $outline-color;
  padding: 0.2em;
}

.over {
  background-color: scale-color($outline-color, $lightness: 66%);    
}

.file-detail {
  border: 1px solid $primary-color;
  text-align: center;
  padding: 0.2em;
}

.map {
  border: 1px solid $outline-color;
  width: 400px;
  height: 400px;
}

.image-editor-outer {
  // see http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio
  position: relative;
  width: 96%;
  // center?
  left: 2%;
  //height: 
  overflow: hidden;

  > .dummy {
    padding-top: 100%; //1:1 aspect
  };
  > .image-editor-inner {
    border: 1px solid #888;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ddd;

    > div {
      position: static;
      width: 100%;
      height: 100%;
 
      > img {
        display: block;
        vertical-align: middle;
        border: 1px solid #fff;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
      };
    };
  };
};

.image-editor-image {
  max-width: 600px;
  max-height: 600px;
  height: auto;
  //border: 1px solid #fff;
};


