@import "settings";
@import "foundation";

.rating {
  font-size: 1.5rem;
}

.toc-level-0, .toc-level-1, .toc-level-2 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
}

.toc-level-0 {
  font-size: 1em;
  font-style: italic;
}

.toc-level-1 {
  font-size: 1.3em; 
}

.toc-level-2 {
  font-size: 1em;
  padding-left: 1em; 
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.toc-button {
  @extend .columns;
  @extend .large-3;
  @extend .small-3;
  @extend .unselectable;
  text-align: center;
  background-color: scale-color($primary-color, $lightness:50%);
  border-color: scale-color($primary-color, $lightness:0%);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-width: 1px;
  overflow: hidden;
  cursor: $cursor-pointer-value;
  @include single-transition(background-color);

  &.disabled {
    cursor: $cursor-default-value;
    opacity: $button-disabled-opacity;
    box-shadow: none;
    &:hover,
    &:focus { background-color: scale-color($primary-color, $lightness:50%); }
  };
  &.do-toc {
    @media #{$medium-up} {
      cursor: $cursor-default-value;
      opacity: $button-disabled-opacity;
      box-shadow: none;
      &:hover,
      &:focus { background-color: scale-color($primary-color, $lightness:50%); }
    };
  };
  &:hover,
  &:focus { background-color: scale-color($primary-color, $lightness: 70% ); }
}

.toc-header {
  @extend .row;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.toc {
  .toc-hide {
    display: none; 
  }
  .toc-body {
    display: none; 
  }
  .toc-show {
    display: block; 
  }
  &.toc-toggle {
    .toc-hide {
      display: block; 
    }
    .toc-body {
      display: block; 
    }
    .toc-show {
      display: none; 
    }
  }
  @media #{$large-up} {
    .toc-hide {
      display: none; 
    }
    .toc-body {
      display: block; 
    }
    .toc-show {
      display: none; 
    }
    &.toc-toggle {
      .toc-hide {
        display: none; 
      }
      .toc-body {
        display: block; 
      }
      .toc-show {
        display: none; 
      }
    }
  }
}

.thing-in-list {
  @extend .columns;
  @extend .large-4;
  @extend .medium-6;
  @extend .small-12;
  @extend .unselectable;

  .thing-in-list-holder {
    background-color: scale-color($primary-color, $lightness:50%);
    margin: 1px;
    position: relative;
    height: 2.6em;

    .thing-in-list-icon {
      //float: left;
      position: relative;
      border: 1px solid #666;
      //padding: 1px;
      width: 2rem;
      height: 2rem;
      overflow: hidden;    
      margin: 0.2rem;
      img {
        width: auto;
        height: auto;
      }
    }
    .thing-in-list-title {
      position: absolute;
      left: 2.4em;
      top: 0;
      right: 0;
      font-size: 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 1px;
    }
    .thing-in-list-buttons {
      position: absolute;
      left: 2.4em;
      top: 1.2em;
      margin: 1px;
      right: 0;
      .thing-in-list-button {
        //position: relative;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border: 1px solid #888;
        margin: 1px;
      }
    }
    .thing-in-list-clear { 
      clear: both;
    }
    border: 1px solid #fff;
    cursor: $cursor-pointer-value;
    @include single-transition(background-color);

    &:hover,
    &:focus { background-color: scale-color($primary-color, $lightness: 70% ); }

    &.disabled {
      cursor: $cursor-default-value;
      opacity: $button-disabled-opacity;
      box-shadow: none;
      &:hover,
      &:focus { background-color: scale-color($primary-color, $lightness:50%); }
    };
  }
}

