node_modules/*
bower_components/*
.sass-cache/*
public/*.DS_Store
public/stylesheets/*
*~
*.timestamp
docker/mediahub/mediahub.couch
docker/nginx/local-servers/*
docker/nginx/server.crt
docker/nginx/server.key
docker/mediahub-*
