<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" manifest="../manifest/${@id}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>${@title}</title>
	<!-- just so we know... -->
	<meta name="mediahub-appid" content="${@id}" />
        <link rel="stylesheet" href="../../vendor/leaflet/leaflet.css" />
	<link rel="stylesheet" href="../../stylesheets/offline.css" />
	<!-- IE -->
	<link rel="shortcut icon" type="image/x-icon" href="${@faviconurl}" />
	<!-- other browsers -->
	<link rel="icon" type="image/x-icon" href="${@faviconurl}" />
	<script src="../../vendor/modernizr/modernizr.js"></script>
</head>
<body>
    <div id="loading-alert" class="row">
      <div class="large-12 columns">
        <div data-alert class="alert-box">Loading offlineApp app...
          <br/>If this message remains after 10 seconds then there has probably been a problem loading or running the app - please try reloading it, or try it on a different device or in a difference browser
        </div>
      </div>
    </div>
    <div id="workingModal" class="working-modal hide">
      <img src="../../icons/loading.gif"/>
    </div>
    <div id="tagModalHolder" class="reveal-modal" data-reveal></div>

    <script src="../../vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../vendor/foundation/js/foundation.min.js"></script>
    <script src="../../vendor/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="../../vendor/foundation/js/foundation/foundation.offcanvas.js"></script>
    <script src="../../vendor/foundation/js/foundation/foundation.topbar.js"></script>
    <script src="../../vendor/underscore/underscore.js"></script>
    <script src="../../vendor/backbone/backbone.js"></script>
    <script src="../../vendor/pouchdb/dist/pouchdb-3.0.2.min.js"></script>
    <script src="../../vendor/backbone-pouchdb/dist/backbone-pouch.js"></script>
    <script src="../../vendor/filesaver/FileSaver.js"></script>
    <script src="../../vendor/node-uuid/uuid.js"></script>
    <script src="../../js/config.js"></script>
    <script src="../../js/offlineapp.js"></script>
    <script src="../../clientid.js"></script>
    <script src="../../vendor/leaflet/leaflet.js"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() 
    {
      // general start-up
      // done in app: $(document).foundation();
      console.log("Running app...");
      var App = require("app");
      App.init();
    });
    </script>
</body>
</html>

