# local-server template http container #{CONTAINER}
location /#{NAME}/public/ {
	proxy_pass http://#{HOST}/public/;
	#proxy_redirect http://#{HOST}/ https://$host/#{NAME}/;
}
location /#{NAME}/submission/ {
	proxy_pass http://#{HOST}/submission/;
}

